<main class="main">
  <div class="inner">
    <div class="greeting">
      <%= "こんにちは、"%>
      <% if user_signed_in? %>
        <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link%>
      <% else %>
        <%= link_to "ゲストさん", root_path, class: :greeting__link %>
      <% end %>
    </div>
    <div class="card__wrapper">
      <% if @prototypes.present? %>
        <%= render partial: 'prototype', collection: @prototypes %>
      <% else %>
        <p>No prototypes available.</p>
      <% end %>
    </div>
  </div>
</main>