<main class="main">
  <div class="inner">
    <div class="greeting">
    <% if user_signed_in? %>
    <%= "こんにちは、"%>
      <%= link_to "#{current_user.name}さん", new_user_session_path, class: :greeting__link%>
    <% end %>
    </div>
    <div class="card__wrapper">
      <% if @prototypes.present? %>
        <%= render partial: 'prototype', collection: @prototypes %>
      <% end %>
    </div>
  </div>
</main>